*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}

body{
    background: #ffffff;
    color:#000000
}

.header{
    display: flex;
    background:#000000;
    height:40px;
}
.brand{
    padding-top: 3px;
    padding-bottom: 3px;
    color: #BC214A;
    margin-left: 5px;
    margin-right:auto;
}

.navbar{
    margin-right:5px;
    padding-top: 5px;
    padding-bottom: 5px;    
    align-items: center;
    float:right;
    list-style: none;
    display: flex;
}

.nav-item{
    margin-left:20px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    float:right;
}
.active{
    color:#BC214A;
}

.nav-item:hover{
    color:#BC214A
}

.main-content{
    margin-top:15px;
    margin-left: 30px;
    margin-right:30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;

}

.image{
    float: right;
    height:700px;
    width:auto;
}

.profile-image{
    object-fit: contain;
    
}
.content{
    margin-top: 50px;
    margin-right:30px;
    font-size: 1rem;
    width:800px;

}

.my-skills {
    margin-top: 30px;
    width: 100%; 
 
}
.skills {
    text-align: right;
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin-bottom: 10px;
    color: white;
}
  
.html {
    width: 90%; 
    background-image: linear-gradient(to right, red , orange);

} 
.css {
    width: 80%; 
    background-image: linear-gradient(to right, blue , skyblue);
} 
.js {
    width: 70%; 
    background-image: linear-gradient(to right, green , cyan);
} 
.php {
    width: 60%; 
    background-image: linear-gradient(to right, red , pink);
} 
.python {
    width: 50%; 
    background-image: linear-gradient(to right, black, grey);
}

.btn-div{
    display: flex;
    margin-top:20px;

}

.btn-learn-more{
    border:#000000;
    border-radius: 5%;
    margin-right: 10px;
    padding: 4px;
    color: #BC214A;
    font-size: 20px;
    
}
.btn-download-my-cv{
    border:#000000;
    border-radius: 5%;
    margin-right: 10px;
    padding: 4px;
    background: #BC214A;
    color:#000000;
    font-size: 20px;
}
.footer{
    background: #000000;
    color:#ffffff;
    height: 50px;

}

.footer-text{
    padding-top:12px;
    text-align: center;
}

.page-title{
    text-align: center;
}
.contact-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 700px;
    margin: 50px;
}
  
.form-title{
    text-align: center;
}

input[type='text'],input[type='email'], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical; 
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

.about{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    height: 700px;
    margin: 30px;
    display:flex;
    justify-content: space-between;
    
}

.info{
    margin : 15px;
    padding: 5px;
}

